.engineer-header {
    background-color: lightgreen;
}

.manager-header {
    background-color: lightsalmon;
}

.intern-header {
    background-color: lightslategray;
}

.employee-card {
    margin: 15px;
}

.dark-row {
    background-color: lightsteelblue;
}

.jumbotron {
    background-color: darkgrey;
}

.page {
    background-color: lightgrey;
}

.title-bar {
    font-size: xx-large;
    font-weight: bold;
}